html, body {
  padding: 0;
  margin: 0;
}

#sample-image {
  display: none;
}

#image-canvas {
  display: block;
  border: 2px solid #000;
}

#emoji-canvas {
  display: none;
}

#progress-bar-container {
  background: #ddd;
}

#progress-bar-container div {
  height: 4px;
  width: 0;
  margin-right: auto;
  background: red;
}
