html, body {
  padding: 0;
  margin: 0;
  font-family: "Apple Color Emoji";
}

canvas {
  display: none;
}

#form-container {
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0; */
  background-color: #eee;
}

form {
  font-family: system, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}

form > div {
  text-align: center;
}

form > div:last-child {
  align-self: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=file] {
  background: #ddd;
  border-radius: 4px;
  padding: 1px;
}

#progress-bar-container {
  background: #ddd;
  padding: 2px;
}

#progress-bar-container div {
  height: 3px;
  width: 0;
}

#progress-bar-container div + div {
  margin-top: 2px;
}

#process-emoji { background: limegreen;     }
#process-image { background: deepskyblue;   }
#match-emoji   { background: lightseagreen; }

#output-container {
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -3;
  padding: 20px 0 40px 0;
  width: 100%;
  overflow-x: scroll;
}

#output-container span {
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
  line-height: 1;

  /* attempt to hide non-emoji characters */
  color: #fff;
}
