html, body {
  padding: 0;
  margin: 0;
  font-family: "Apple Color Emoji",  "Segoe UI Emoji", "Segoe UI Symbol";
}

canvas {
  display: none;
}

#image-fields {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

#image-fields > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  padding: 10px 20px;
  text-align: center;
}

#input-image-file {
  display: none;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}

input[type=file] {
  background: #ddd;
  border-radius: 4px;
  padding: 1px;
}

.value-indicator {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 500;
}

#progress-bar-container {
  height: 3px;
  position: relative;
}

#progress-bar-container div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}

#process-emoji { background: cornflowerblue; }
#process-image { background: limegreen; }
#match-emoji   { background: orange; }

#output-container {
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -3;
  padding: 20px 0 40px 0;
  width: 100%;
  overflow-x: scroll;
}

#output-container span {
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
  line-height: 1;

  /* attempt to hide non-emoji characters */
  color: #fff;
}
