#sprite-canvas {
  border: 2px solid #000;
  position: fixed;
  right: 10;
  top: 10;
}

.sample {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.sample-swatch::before {
  content: "⬤";
}

.sample-emoji {
  margin-right: 3px;
  font-size: 25px;
}

.sample {
  columns: 2;
}
