html, body {
  padding: 0;
  margin: 0;
  font-family: "Apple Color Emoji",  "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

canvas {
  display: none;
}

.form-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f4f4f4;
}

.form {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  padding: 10px 20px;
}

.form .buttons {
  flex-direction: row;
  align-items: center;
}

button + button {
  margin-left: 15px;
}

#input-image-file {
  display: none;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}

input[type=file] {
  background: #ddd;
  border-radius: 4px;
  padding: 1px;
}

.value-indicator {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 500;
}

#progress-bar-container {
  height: 3px;
  position: relative;
}

#progress-bar-container div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}

#process-emoji { background: hotpink; }
#process-image { background: cornflowerblue; }
#match-emoji   { background: orange; }

#output-container {
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -3;
  margin: 10px auto 30px auto;
  background-color: #fff;
  display: inline-block;
  border-radius: 6px;
  padding: 10px;
}

#output-container:empty {
  background: none;
}

#output-container span {
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
  line-height: 1;

  /* attempt to hide non-emoji characters */
  color: #fff;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }

  #output-container span {
    color: #222;
  }

  .form-container {
    background-color: #444;
    color: #fff;
  }
}
