html, body {
  padding: 0;
  margin: 0;
  font-family: "Apple Color Emoji",  "Segoe UI Emoji", "Segoe UI Symbol";
}

canvas {
  display: none;
}

#form-container {
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0; */
  background-color: #eee;
}

form {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}

form > div {
  text-align: center;
}

form > div:last-child {
  align-self: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type=file] {
  background: #ddd;
  border-radius: 4px;
  padding: 1px;
}

 .value-indicator {
   margin-top: 10px;
   font-size: 12px;
 }

 .value-indicator .error {
   color: red;
 }

#progress-bar-container {
  background: #ddd;
  height: 3px;
  position: relative;
}

#progress-bar-container div {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 0;
}

#process-emoji { background: cornflowerblue; }
#process-image { background: limegreen; }
#match-emoji   { background: orange; }

#output-container {
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -3;
  padding: 20px 0 40px 0;
  width: 100%;
  overflow-x: scroll;
}

#output-container span {
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
  line-height: 1;

  /* attempt to hide non-emoji characters */
  color: #fff;
}
