#sample-image {
  display: none;
}

#image-canvas {
  display: block;
  border: 2px solid #000;
}

#emoji-canvas {
  display: none;
}

#progress-bars {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.progress-bar {
  height: 5px;
  width: 0;
  margin-right: auto;
  transition: width 0.1s;
}

#emoji-progress {
  background-color: red;
}
