html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#form-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #eee;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}

form > div {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=file] {
  background: #ddd;
  border-radius: 4px;
  padding: 2px;
}

#sample-image {
  display: none;
}

#image-canvas {
  display: block;
  border: 2px solid #000;
}

#emoji-canvas {
  display: none;
}

#progress-bar-container {
  background: #ddd;
}

#progress-bar-container div {
  height: 4px;
  width: 0;
  margin-right: auto;
  background: red;
}
